@import "../bootstrap/scss/bootstrap.scss";

@media only screen and (max-width: 575px) {
  .main-section {
    .sidebar {
      //   display: none;
      top: 0;
      left: -100%;
      background-color: #fff;
      position: fixed;
      height: 100vh;
      padding: 20px;
      transition: all 0.2s ease-out;
      box-shadow: 6px 4px 16px rgba(0, 0, 0, 0.1);
      .sidebar-elements {
        display: flex;
        justify-content: space-between;
      }
      .sidebar-closebtn {
        display: block !important;
        font-size: 1.75rem;
        text-decoration: none;
        color: #000;
      }
    }
  }

  .listing {
    .padding-right-mobile {
      padding-right: 0 !important;
    }
    .element {
      padding: 2rem;
    }
  }
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  }
  .header-nav-mobile {
    display: block !important;
    cursor: pointer;
    margin-right: 0.75rem;
  }
  .main-section {
    margin-top: 5.5rem !important;
  }
}

// not mobile view
.header {
  padding-top: 8px;
  padding-bottom: 8px;
  .header-nav-mobile {
    display: none;
  }
}
.listing {
  padding-bottom: 2.25rem;
  .element {
    padding: 4rem;
    height: 12rem;
  }
}
.main-section {
  margin-top: 1rem;
  .sidebar {
    .active {
      color: rgb(0, 0, 0);
    }
    a {
      color: rgb(156, 156, 156);
      &:hover {
        color: rgb(0, 0, 0);
      }
    }
  }
  .sidebar-closebtn {
    display: none;
  }
}

.features {
  padding-top: 1rem;
  padding-bottom: 1rem;
  .element {
    height: 8rem;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
